/.Rhistory
/slides/rp01_basics_datatypes_files
/slides/rp01_basics_datatypes_cache
/slides/test01.csv
/slides/*.html
data_cleaning_cache
data_cleaning_files
rp01_basics_datatypes_cache
rp01_basics_datatypes_files
/modules/rp01_basics/.Rhistory
/modules/rp02_controls/.Rhistory
rp03_functions_packages_files
rp03_functions_packages_cache
visualization_map_files
R_graphics_introduction_cache
R_graphics_introduction_files
visualization_map_cache
